
.vs/ParseLib/DesignTimeBuild/.dtbcache
.vs/ParseLib/v15/Server/sqlite3/db.lock
.vs/ParseLib/v15/Server/sqlite3/storage.ide
.vs/ParseLib/v15/Server/sqlite3/storage.ide-shm
.vs/ParseLib/v15/Server/sqlite3/storage.ide-wal
